{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
   {% if original.detail and not original.is_available %}
    <div class="submit-row">
        <a class="button" href="{% url 'admin:confirm_make_available' object_id=original.id %}">Tornar disponível</a>
    </div>
  {% elif original.detail and original.is_available %}
    <div class="submit-row">
        <a class="button" href="{% url 'admin:make_unavailable' object_id=original.id %}">Tornar indisponível</a>
    </div>
  {% endif %}
  {{ block.super }}

{% endblock %}
