<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreamento do Produto</title>
</head>
<body>
    <h1>Rastreamento do Produto: {{ product_track.product.name }}</h1>

    <p>Status do Rastreamento:</p>
    {% if product_track.is_complete %}
        <p><strong>Rastreamento completo</strong></p>
    {% else %}
        <p><strong>Rastreamento incompleto</strong></p>
    {% endif %}
</body>
</html>
